<div style="height: 40px;width: 100%;background-color: #000000;margin: 0 auto;">
    <div style="float: left;width: 200px;color: aliceblue;line-height: 40px;text-align: center">移动办公后台管理系统</div>
    <div style="float: right;width: 200px;line-height: 40px;text-align: center">
        <a href="/app/login/"><span style="color: #eeffff">登陆</span></a>
        <a href="/app/logout/"><span style="color: #eeffff">注销</span></a>
        <a href="#">
            <image src="{{ hupic }}" style="height: 30px;width: 30px;border-radius: 50%;margin-bottom: 4px"/>
        </a>
    </div>
</div>