<div class="x2 height_left">
    <div id="content">
        <div class="item">
            <div class="item1">
                <h4>首页 <span class="icon-angle-down"></span> </h4>
            </div>
            <div class="item2">
                <ul class="item-1">
                    <li><a href="/app/index/">首页</a></li>
                    <li><a href="/app/change-personal-state/">修改状态</a></li>
                </ul>
            </div>
        </div>
        <div class="item">
            <div class="item1">
                <h4>个人信息 <span class="icon-angle-down"></span> </h4>  
            </div>
            <div class="item2">
                <ul class="item-1">
                    <li><a href="/app/personal-center/">个人中心</a></li>
                    <li><a href="/app/update-personal-msg/">修改信息</a></li>
                </ul>
            </div>
        </div>
        <div class="item">
            <div class="item1">
                <h4> 查询操作 <span class="icon-angle-down"></span></h4>
            </div>
            <div class="item2">
                <ul class="item-1">
                    <li><a href="/app/query-user/">人员查询</a></li>
                    <li><a href="/app/query-seat/">坐席查询</a></li>
                    <li><a href="/app/query-device/">设备查询</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>
<style type="text/css">
    #content{
        height: 800px;
         background:#0066CC;
    }
    .item{
        background:#0066CC;
        color:white;
    }
    .item h4{
        width: inherit;
        padding: 10px 20px;
    }
    .item h4 span{
        float: right;
    }
    .item ul{
        margin: 0;
        padding: 0;
    }
    .item ul li a{
        display:block;
        width: inherit;
        color: white;
        /*padding-left: 20px;*/
        padding: 10px 50px;
    }
    .item ul li a:hover{
        background: white;
        color:blue;
    }
    .item1{
        border-bottom: 1px solid #0099CC ;
    }

</style>
<script type="text/javascript">
    $(document).ready(function () {
        var len = $('.item').length;
        var flag = new Array();
        for (var i = 0; i < len; i++) {
            flag[i] = true;
        }
        $('.item1').each(function (index) {
            $(this).click(function () {
                if (flag[index]) {
                    $(this).next().css("display", "none");
                    flag[index] = false;

                } else {
                    $(this).next().css("display", "block");
                    flag[index] = true;
                }

            })
        })

    });
</script>