<table class="table table-hover bg-white">
    <tr>
        {% for item in table_head %}
            <th style="text-align: center">{{ item }}</th>
        {% endfor %}

    </tr>

    {% for item in table_body %}
        <tr style="text-align: center">
            <td>{{ item.sno }}</td>
            <td>{{ item.sposition }}</td>
            <td>{{ item.sstate }}</td>
            <td>{{ item.stype }}</td>
            <td><a class="button button-small border-green o_s">
                    <span class="icon-gavel"></span>占位</a></td>
        </tr>
    {% endfor %}
</table>
<div style="text-align: center;margin-top: 20px;">
    {{ page_str }}
</div>
<script>
    $('.o_s').click(function () {
        var sno = $(this).parent().parent().children().html();
        {#$(this).parent().parent().children().next().next().first().html('占用');#}
        $.ajax({
            type: 'post',
            url: "/app/occupy-seat/",
            data: {'sno': sno},
            cache: false,
            dataType: 'json',
            success: function (data) {
                console.log(data);
                if (data['flag'] == '1'){
                    alert('占位成功!');
                }else if(data['flag'] == '2'){
                    alert('权限不够!');
                }else if(data['flag'] == '3'){
                    alert('位子已被占!');
                }else if(data['flag'] == '4'){
                    alert('位子损坏!');
                }else if(data['flag'] == '5'){
                    alert('不能重复占用!');
                }else if(data['flag'] == '6'){
                    alert('占位失败!');
                }
            },
            error: function () {}
        });
    });
</script>

