<!DOCTYPE html>
<html lang="en">
<head>
        <title>添加成员</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/pintuer.css">
        <link rel="stylesheet" href="/static/css/public.css">
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/pintuer.js"></script>
    </head>
    <body class="bg-gray-light">
        {% include 'include/user/user_header.html' %}
        <div class="line">
             <!--左边导航栏-->
            {% include 'include/manage/system_left.html' %}
             <!--左边导航栏结束-->
             <!--右边内容-->
            {% if flag_table == 'user' %}
                {% include 'include/manage/manage_add_user.html' %}
            {% elif flag_table == 'device' %}
                {% include 'include/manage/manage_add_device.html' %}
            {% elif flag_table == 'seat' %}
                {% include 'include/manage/manage_add_seat.html' %}
            {% elif flag_table == 'distribute' %}
                {% include 'include/manage/manage_add_distribute.html' %}
            {% endif %}
             <!--右边内容结束-->
        </div>
              <style type="text/css">
                 .bg-gray-light{
                     background: #eeeeee;
                 }
             </style>
    </body>
</html>