<!DOCTYPE html>
<html lang="en">
    <head>
        <title>后台管理首页</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/pintuer.css">
        <link rel="stylesheet" href="/static/css/mystyle.css">
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/pintuer.js"></script>

    </head>
    <body class="bg-blue-light">
        {% include 'include/manage/system_header.html' %}
        <div class="line">
             <!--左边导航栏-->
            {% include 'include/manage/system_left.html' %}
             <!--左边导航栏结束-->
             <!--右边内容-->
            {% if flag_table == 'personal_center' %}
                {% include 'include/user/user_self.html' %}
            {% else %}
                {% include 'include/manage/system_right.html' %}
            {% endif %}
             <!--右边内容结束-->
        </div>
    </body>
</html>